header{
    background-color: rgb(216, 201, 201);
    border-bottom: 0.5px solid black;
    padding: 15px;
    margin-bottom: 30px;
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar{
    width: 30%;
    height: 100%;
}

ul{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

li{
    height: 100%;
    width: 100%;
    color: rgb(86, 76, 76);
    text-align: center;
}
li:hover{
    cursor: pointer;
    color: rgb(142, 132, 132);
}
